<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		     xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">
           
           
           <context:component-scan base-package="com.xworkz.sanitizer"/>
           

	<!-- <bean class="com.xworkz.sanitizer.Sanitizer" id="santizer">
		<constructor-arg name="name" value="Lifebouy" />
		<constructor-arg name="quantity" value="200ML" />
		<constructor-arg name="color" value="blue" />
		<constructor-arg name="price" value="200" />
		<constructor-arg name="ingredients" ref="ingredient" />
		<constructor-arg name="isAyurvedic" value="false" />

	</bean>



	<bean class="com.xworkz.sanitizer.Ingredients" id="ingredient">
		<constructor-arg name="alcohol" value="Isopropyl Alcohol" />
		<constructor-arg name="alcoholPercentage" value="79" />
		<constructor-arg name="peroxide" value="Hydrogen Peroxide" />
		<constructor-arg name="peroxidePercentage" value="0.125" />
		<constructor-arg name="distilledWaterPercentage" value="20" />

	</bean>    -->

</beans>